<div class="ml-3 mb-3">
  <button type="button" class="btn btn-warning" routerLink="/admin">Admin Panel</button>
</div>

<div class="row mx-3">

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Price</th>
        <th scope="col">Creation Date</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light" *ngFor="let booking of bookings">
        <td class="form-group">
          <input [(ngModel)]="booking.start" type="datetime-local" class="form-control" placeholder="{{booking.start}}">
        </td>
        <td class="form-group">
          <input [(ngModel)]="booking.end" type="datetime-local" class="form-control" placeholder="{{booking.end}}">
        </td>
        <td class="form-group">
          <input [(ngModel)]="booking.price" type="number" class="form-control" placeholder="{{booking.price}}">
        </td>
        <td class="form-group">
          <input [(ngModel)]="booking.createdTimestamp" type="datetime-local" class="form-control " placeholder="{{booking.createdTimestamp}}" disabled>
        </td>
        <td><button type="button" class="btn btn-success" (click)="updateBooking(booking.id)">Edit</button></td>
        <td><button type="button" class="btn btn-danger" (click)="removeBooking(booking.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
