<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <!--fixed-top-->
  <img src="/assets/images/logo.png" style="max-height: 50px;" alt="logo" class="logo" routerLink="/">

  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">

    <a class="p-2 text-success" routerLink="/store">Charging Points</a>
    <a class="p-2">|</a>
    <!--Only displayed after logging in-->
    <a class="p-2 text-success" *ngIf="(currentUser$ | async)" routerLink="/bookings">Bookings</a>
    <!--Only displayed if the logged in user is an admin-->
    <a *ngIf="(currentUser$ | async) && (currentUser$ | async).username == 'CCC'" class="p-2">|</a>
    <!--Only displayed if the logged in user is an admin-->
    <a *ngIf="(currentUser$ | async) && (currentUser$ | async).username == 'CCC'" class="p-2 text-success" routerLink="/admin" routerLinkActive="active">Admin</a>
    <!--Only displayed after logging in-->
    <a class="p-2" *ngIf="(currentUser$ | async)">|</a>
    <a class="p-2 text-success" routerLink="/contact">Contact</a>
  </nav>

  <div class="d-flex align-items-center">

    <ng-container *ngIf="(currentUser$ | async) === null">
      <div class="d-flex align-items-center">
        <a routerLink="/account/login" routerLinkActive="active" class="btn btn-outline-secondary mr-2">Login</a>
        <a routerLink="/account/register" routerLinkActive="active" class="btn btn-outline-secondary mr-3">Sign up</a>
      </div>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async">
      <div class="dropdown ml-3 mr-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <strong>{{(currentUser$ | async).username}}</strong>
        </a>
        <!--*dropdownMenu - structural directive-->
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/about" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart mr-3"></i> Update details
          </a>
          <a routerLink="/about" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-history mr-3"></i> View Bookings
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out mr-3 text-danger"></i> Logout
          </a>
        </div>
      </div>

    </ng-container>



  </div>

  </div>
