<div class="jumbotron my-3 ml-3 mr-3">
  <h1 class="display-4">EVCharge!</h1>
  <p class="lead">The future is here! You can now charge your electric vehicle at over 1000 charging points across the country!</p>
  <hr class="my-4">
  <p>
    Your EV can be plugged right into a standard outlet to charge, also known as Level 1 (110V, 15amps) charging.
  </p>
  <p>
    Level 1 charging adds about 8 kilometers of range per hour, and for owners of plug-in hybrid electric cars this is usually enough.
  </p>
  <p>
    Level 2 charging, common in both private households and in public places, use a 240 volt system (similar to a clothes dryer plug) and adds 30-50 kilometers of range per hour.
  </p>
  <p>
    Level 3 charging stations (also known as Direct Current Fast Chargers or DCFC) use a 480 volt system and can add more than 100 kilometres of range per hour. These stations make longer trips feasible for EV drivers.
  </p>
    
</div>
